Repository WordPress/two-factor, pull requests merged in 2022-10, with the labels that each got.

#428 PHP 8.1 compatibility: replace FILTER_SANITIZE_STRING
  class-two-factor-compat.php
  class-two-factor-core.php
  providers/class-two-factor-backup-codes.php
Labels: Needs Code Review

#474 Tests: Explicitly ignore directories for performance
  phpunit-watcher.yml.dist
Labels: Bug, php

#478 Pass a WP_Error object to the `wp_login_failed` filter.
  class-two-factor-core.php
Labels: Bug

#481 Add Security Policy
  .github/SECURITY.md
  readme.md
  readme.txt
Labels: Documentation
